---
export interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props as Props;
---

<div>
  <h3 data-aos='fade-right'>{title}</h3>
  <p data-aos='fade-left'>
    {description}
  </p>
  <img src={image} alt='ChatApp Demo' data-aos='zoom-in' />
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 50px 20px 50px; */
  }

  h3 {
    font-size: 38px;
    font-weight: 500;
    color: var(--colorPrimary);
    font-family: var(--fontPrimary);
  }

  p {
    font-size: 22px;
    font-weight: 400;
    color: var(--colorTertiary);
    font-family: var(--fontSecondary);
    max-width: 625px;
    padding: 25px 0 50px 0;
    line-height: 1.5;
  }

  img {
    max-width: 990px;
  }

  @media (max-width: 767px) {
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    div {
      padding: 50px 20px 50px;
    }
  }
</style>
