---
import Body from '../layouts/Body.astro';
import Card from './Card.astro';

const benefits = await Astro.glob('../benefits/*.md');
const ordered = benefits.sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
);
---

<Body>
  {
    benefits.map(benefit => (
      <Card
        title={benefit.frontmatter.title}
        description={benefit.frontmatter.description}
        image={benefit.frontmatter.image}
      />
    ))
  }
</Body>
